.remark-slide-content {
  font-size: 1.5rem;
}

.large { font-size: 130% }
.small { font-size: 85% }

.form-link a {
  color: blue;
}

.no-background {
  background-image: none;
}

.remark-code {
  border-radius: 0.5rem;
}